.popup__close {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 440px;
  top: -40px;
  background: transparent url(../../../images/popup-close-icon.svg) no-repeat
    center/32px;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    left: 262px;
    background-size: cover;
  }
}
