.popup__submit-button_disabled {
  border: 1px solid black;
  color: black;
  opacity: 0.2;
  background-color: white;
  cursor: default;
}

.popup__submit-button:hover {
  opacity: 0.2;
}
